exports.random_mail = function(){
  var mail = { 
    
   <html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<!-------body start ------------>
	<body>
		<div style="BACKGROUND-COLOR:#e8e8e8">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td>
							<table style="background:url('HALO_otp.png') no-repeat; background-size: cover; " border="0" cellspacing="0" cellpadding="0" width="700" align="center">
								<tbody >
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px;  padding-bottom:20px;">
											<table border="0" cellspacing="0" cellpadding="0" width="100%">
												
											</table>
										</td>
									</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:90px; padding-bottom:20px; ">
											
										</td>
									</tr>
									<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h2 style="font-style: italic; text-align:center;">You signed up for a HaloHome account using the email </h2></p>
											
										</td>
									</tr>
									<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h2 style="font-style: italic; text-align:center;">vvdntech@gmail.com </h2></p></td>
										
									</tr>
								<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h2 style="font-style: italic; text-align:center;"> </h2></p></td>
										
									</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;  " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;">Please confirm your email address by clicking on the following button</h4> </p>
									</td>
								</tr>
								<tr>
									<td align="center">
										<!-- BULLETPROOF BUTTON -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody><tr>
												<td align="center" style="padding-top: 25px;" class="padding">
													<table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
														<tbody><tr>
															<td align="center" style="border-radius: 3px;" bgcolor="#256F9C"><a href="https://litmus.com" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #256F9C; display: inline-block;" class="mobile-button">Click Here →</a></td>
														</tr>
														</tbody></table>
												</td>
											</tr>
											</tbody></table>
									</td>
								</tr>
								
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;  " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;  " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;  " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;  " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;  " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								
								<tr>
									<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
								</td>
							</tr>
							<tr>
								<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; " valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
							</td>
						</tr>
					
					
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							
						
						</tbody>
					</table>
				</td>
			</tr></tbody></table></div>
</body>
</html>
}
      return mail;
};
