<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	</head>
	<!----- body start -------->
	<body>
		<div style="BACKGROUND-COLOR:#e8e8e8">
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tbody>
					<tr>
						<td>
							<table style="background:url('HALO_otp.png') no-repeat; background-size: cover; " border="0" cellspacing="0" cellpadding="0" width="700" align="center">
								<tbody >
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px;  padding-bottom:20px;">
											<table border="0" cellspacing="0" cellpadding="0" width="100%">
												
											</table>
										</td>
									</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:90px; padding-bottom:20px; ">
											
										</td>
									</tr>
									<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h3 style="font-style: italic; text-align:center;"> Based on your request we have sent an Otp. Use this Otp to login in to your account</h3></p>
										
											
										</td>
									</tr>
									<tr>
										<td align="center">
										<!--OPT TEXT -->
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody><tr>
												<td align="center" style="padding-top: 25px;" class="padding">
													<table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
														<tbody><tr>
															<td align="center" style="border-radius: 3px; border-radius: 3px; padding: 17px 70px 20px 62px; color: white;background: lightgrey;letter-spacing: 8px; font-weight: 800;">568767</td>
														</tr>
														</tbody></table>
												</td>
											</tr>
											</tbody></table>
									</td>
										
									</tr>
									<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h2 style="font-style: italic; text-align:center;"> </h2></p></td>
										
									</tr>
									<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h2 style="font-style: italic; text-align:center;"> </h2></p></td>
										
									</tr>
									<tr>
										<td  style="PADDING-BOTTOM:1px;PADDING-LEFT:40px;PADDING-RIGHT:40px; ">
											<p style="LINE-HEIGHT:20px;COLOR:#333;FONT-SIZE:13px;FONT-FAMILY:Arial; margin-top:11px; text-align:justify;color:#032a4b;"><h2 style="font-style: italic; text-align:center;"> </h2></p></td>
										
									</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								
								
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
									<tr>
										<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
									</td>
								</tr>
								
								<tr>
									<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
								</td>
							</tr>
							<tr>
								<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px;" valign="top"><p style="LINE-HEIGHT:20px; font-size:14px; font-family:Arial; color:black;"></b><h4  style="font-style: italic; text-align:center;"></h4> </p>
							</td>
						</tr>
					
					
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						<tr>
							<td style="PADDING-LEFT:40px;PADDING-RIGHT:40px; PADDING-TOP:20px; ">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									
								</table>
							</td>
						</tr>
						
						
						</tbody>
					</table>
				</td>
			</tr></tbody></table></div>
</body>
</html>